version: "3.9"

services:
  web:
    build: .
    container_name: devsu-demo-python
    command: ./entrypoint.sh
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: demo.settings
    restart: unless-stopped
